*{
    margin: 0;
    padding: 0;
}
.container{
    background: url(imageü.jpg);
    height: 70vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 25px;
    font-family:sans-serif;
    color: white;

}

.navbar ul{
    float: right;
    margin: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 9px;
    line-height: 5px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}



.container .right-align{
    float: right;
    margin: 10;
    padding: 10;
    margin-top: 120px;
    height: 150px;
    width: 100px;
    font-size: 30px;
    border-radius: 100px;
}

.container .left-align{
    float: left;
    margin: 10;
    padding: 10;
    margin-top: 120px;
    height: 150px;
    width: 100px;
    font-size: 30px;
    border-radius: 100px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #FF7F50;
    border-radius: 2px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%; transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h1{
    color: white;
    font-size: 40px;
    font-weight: normal;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 35px 280px;
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 15px;
    color: #BA55D3;
    background: rgb(255, 160, 122);
    border: solid 1px #BA55D3;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

button:hover{
    opacity: 0.7;
}

.about .button {
    margin: 10px 650px;
}

.about .learn {
    margin: 10px 50px;
    height:40px;
    width: 100px;
    font-size: 15px;
    color: #BA55D3;
    background: rgb(255, 160, 122);
    border: solid 1px #BA55D3;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

.about .paragraph p{
    padding: 10px 10px;
    float: right;
    width: 50%;
}

.paragraph p{
    margin-bottom: 30px;
    padding: 100px 100px;
    max-width: 600px;
}

.about .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #BA55D3; 
  color: #fff; 
  font-size: 30px;
  font-weight: bold;
  border: none; 
  cursor: pointer; 
  outline: none; 
}

.about .button:hover{
    background-color: #FF7F50;
}

.about .button i{
    margin: 20;
    padding: 20;
    height: 5vh;
    width: 50px;
    font-size: 30px;
    border-radius: 100px;
}

.contact-section{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans Mono", monospace; 
}

.contact-section{
	height: 100vh;
	width: 100%;
}

.contact-section .container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-section .container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img.jpg") no-repeat center;
	background-size: cover;
	filter: blur(100px);
	z-index: -1;
}
.contact-section .contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-section .left{
	background: url("img.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
    width: 100%;
}

.contact-section .right{
	padding: 25px 60px;
}

 .contact-section h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-section h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #BA55D3;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #FF7F50;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #BA55D3;
}

.field:focus{
    border: 2px solid rgb(255, 160, 152);
    background-color: #FF7F50;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

.footer {
    height: 20vh;
    background-color: #FF7F50;
    color: #fff;
    padding: 0;
  }
  
.footer .container {
    height: 20vh;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FF7F50;
  }
  
.footer-content {
    float: right;
    margin-top: 40px;
    text-align: center;
  }
  
.footer-bottom {
    float: left;
    margin-top: 40px;
    text-align: center;
  }


  